---
import Card from "../components/card.astro";
import data from "../content/extensions/data.json";
import "./src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="min-h-screen bg-linear-[180deg,#ebf2fc_0%,#eef8f9_100%] p-4 text-neutral-900 dark:bg-linear-[180deg,#040918_0%,#091540_100%] dark:text-neutral-100"
    >
      <section class="flex flex-col gap-4">
        {data.map((item) => <Card item={item} />)}
      </section>
    </main>
  </body>
</html>
