---
import Card from "../components/card.astro";
import data from "../content/extensions/data.json";
import "./src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="p-4 bg-linear-[180deg,#040918_0%,#091540_100%] min-h-screen text-neutral-100"
    >
      <section class="flex flex-col gap-4">
        {data.map((item) => <Card item={item} />)}
      </section>
    </main>
  </body>
</html>
