---
import { Image } from "astro:assets";
import "@fontsource-variable/noto-sans";
import IconMoon from "../assets/images/icon-moon.svg";
import IconSun from "../assets/images/icon-sun.svg";
import Logo from "../assets/images/logo.svg";
import Card from "../components/Card.astro";
import data from "../content/extensions/data.json";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <main
      class="min-h-screen bg-linear-[180deg,#ebf2fc_0%,#eef8f9_100%] p-4 text-neutral-900 dark:bg-linear-[180deg,#040918_0%,#091540_100%] dark:text-neutral-100"
    >
      <div class="md:container">
        <header
          class="flex items-center justify-between rounded-xl border-neutral-200 bg-neutral-0 p-3 shadow-md dark:bg-neutral-800"
        >
          <Logo class="dark:invert" />

          <button
            class="rounded-xl bg-neutral-100 p-4 transition-colors hover:bg-neutral-300 focus:outline-2 focus:outline-offset-1 focus:outline-red-400 dark:bg-neutral-700 dark:hover:bg-neutral-600"
            id="toggleTheme"
            type="button"
          >
            <Image alt="" class="dark:hidden" src={IconMoon} />
            <Image alt="" class="hidden dark:block" src={IconSun} />
          </button>
        </header>

        <section
          class="my-10 flex flex-col text-center md:mb-6 md:flex-row md:items-center md:justify-between"
        >
          <h1 class="text-4xl font-bold">Extensions List</h1>

          <div class="mt-8 flex justify-evenly md:mt-0 md:gap-4">
            <button class="filter-button-active" type="button">All</button>
            <button class="filter-button" type="button">Active</button>
            <button class="filter-button" type="button">Inactive</button>
          </div>
        </section>

        <section class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
          {data.map((item) => <Card item={item} />)}
        </section>
      </div>
    </main>
  </body>
</html>

<script>
  const button = document.getElementById("toggleTheme");

  button?.addEventListener("click", () => {
    document.querySelector("html")?.classList.toggle("dark");
  });
</script>
