---
interface Props {
  item: {
    description: string;
    logo: string;
    name: string;
  };
}

const { item } = Astro.props;
---

<div
  class="flex min-h-48 flex-col rounded-2xl border border-neutral-200 bg-neutral-0 p-4 shadow dark:border-neutral-600 dark:bg-neutral-800"
>
  <div class="flex gap-4">
    <img class="h-12 w-12" src={item.logo} alt={item.name} />

    <div>
      <h2 class="text-lg font-bold">{item.name}</h2>
      <p class="text-neutral-600 dark:text-neutral-300">{item.description}</p>
    </div>
  </div>

  <div class="mt-auto flex justify-between">
    <button
      class="rounded-full border border-neutral-200 px-4 py-1 dark:border-neutral-600"
      type="button"
    >
      Remove
    </button>
    <input type="checkbox" name="" id="" />
  </div>
</div>
