---
interface Props {
  item: {
    description: string;
    logo: string;
    name: string;
  };
}

const { item } = Astro.props;
---

<div
  class="rounded-2xl p-4 bg-neutral-800 border border-neutral-600 min-h-48 flex flex-col"
>
  <div class="flex gap-4">
    <img class="w-12 h-12" src={item.logo} alt={item.name} />

    <div>
      <h2 class="text-lg font-bold">{item.name}</h2>
      <p class="text-neutral-300">{item.description}</p>
    </div>
  </div>

  <div class="flex justify-between mt-auto">
    <button
      class="rounded-full px-4 py-1 border border-neutral-600"
      type="button"
    >
      Remove
    </button>
    <input type="checkbox" name="" id="" />
  </div>
</div>
